@font-face {
font-family: 'arialmt';
src: url('arial-mt-cufonfonts/');
}
*
{
    margin: 0;
    padding: 0;
}

.container
{
    width: 1280px;
    height: 3186px;
    margin: 0 auto;

    background-color: #f5f5f5;
}
.top
{
    width: 1280px;
    height: 323px;
   

    background-color: #445162;
}
.product_name
{
    font-family: 'arialmt';
    font-size: 60px;
    font-weight: 400;
    padding-top: 50px;
    /* padding-left: 50px; */
    padding-bottom: 30px;
     padding-right: 50px;
    padding-left: 50px;
    color: #fff;
    /* clear: both; */
    float: left;
}
.blockimg{
	width: 469px;
	height: 214px;
	background-color: #ffffff;
	float: right;
	margin-top: -100px;
	margin-right: 50px;

}
nav
{
    font-family: 'arialmt';
    font-size: 20px;
    height: 127px;
    color: #fff;
	float: left;
	padding-left: 50px;
	clear: both;
}
li{
	/* width: 422px;
	height: 127px; */
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	color: #ffffff;
	font-family: "arialmt";
	font-size: 20px;
	font-weight: 400;
line-height: 36px;
	list-style-type: none;
}
section.about{
	width: 1280px;
	height: 323px;
	background-color: #fff;
}
section.about h3{
	/* width: 254px; */
	/* height: 28px; */
	color: #445161;
	font-family: "arialmt";
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	padding-left: 50px;
	padding-top: 49px;
	padding-bottom: 20px;
}
.about_desc1 {
	width: 649px;
	/* height: 63px; */
	color: #333333;
	font-family: "arialmt";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-left: 50px;
	float: left;
}
figure.video{
	width: 430px;
	height: 245px;
	background-color: #445161;
	float: right;
	margin-top: -70px;
	margin-right: 50px;
}

h3.dignity{
	width: 451px;
	/* height: 28px; */
	color: #445161;
	font-family: "arialmt";
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 29px;
}

.plus-box{
	width: 32px;
	height: 32px;
	background-color: #445161;
	float: left;
	margin-left: 50px;
	margin-top: 5px;
	align-items: center; 
	justify-items: center;
	flex-wrap: wrap;

}
.plus-box img{
	align-items: center; 
	justify-items: center;
	flex-wrap: wrap;
	position: absolute;

}

section.pluses ul li{
	width: 526px;
	/* height: 63px; */
	color: #333333;
	font-family: "arialmt";
	font-size: 14px;
	font-weight: 200;
	line-height: 24px;
	float: left;
	padding-left: 9px;
	margin-bottom: 35px;
	cb
}



.item_scrin {
	width: 1280px;
	height: 487px;
	background-color: #fff;
	clear: both;
}
.scrin {
	width: 138px;
	height: 22px;
	color: #445161;
	font-family: "arialmt";
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	margin: 0 auto;
	padding-top: 51px;
	padding-bottom: 35px;
}
article{
	width: 200px;
	height: 150px;
	background-color: #445161;
	float: left;
	clear: both;

}
.img{
	float: left;

}
article figure{
	width: 200px;
	height: 150px;
	float: left;

}
.desc{
	/* width: 310px; */
	height: 23px;
	color: #445161;
	font-family: "arialmt";
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	padding-left: 15px;
	
}






















